@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #f9fafb;
}

/*NAVBAR*/
header{
    text-align: center;
}

.header-log{
    padding: 1px 4%;
}

.header-log h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
    padding: 1rem;
}

.header-log a{
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    color: #111928;
}

.header-log a:hover{
    transform: scale(1.05);

}

nav{
    background-color: #3758f9;
    box-shadow: 0px 0px 10px #3758f9;

}

.navbar ul{
    list-style-type: none;
}


.navbar a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
    font-size: 2rem;
}

.navbar li:hover{
    background-color: #111928;
    color: #f9fafb;
}

/*CONTAINERS*/
main{
    text-align: center;
}

.container-txt h2{
    font-size: 2rem;
    padding: 2rem 0;
}

.container-txt-image img{
    height: 200px;
    width: 300px;
}

.container-lung{
    padding: 15rem 0;
}
.container-icon{
    font-size: 10rem;
}

.container-lung-txt h3{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.box h2 span{
    color: #3758f9;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.icons-container{
    font-size: 10rem;
}

.box{
    padding: 1rem;
}

.box i{
    font-size: 10rem;
}

.box h2{
    font-size: 2rem;
}

/*TESTIMONIALS*/

#testimonials {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    padding: 32px 8%;
}

#testimonials_header {
    text-align: center;
}

#testimonials_header h1 {
    font-size: 18px;
    font-weight: 600;
    color: #3758f9;    
}

#testimonials_header h2 {
    color: #111928;
    font-size: 40px;
}

#testimonials_header p {
    color: #637381;
    font-size: 16px;
    max-width: 485px;
}

.swiper {
    width: 100%;
    height: 310px;
    padding-bottom: 60px;
} 

.swiper-slide {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(92, 115, 160, 0.07);
    padding: 34px;
    border-radius: 12px;
}

.testimonial-rate {
    display: flex;
    gap: 2px;
}

.testimonial-rate i {
    color: #f9b707;
}

.testimonial-quote {
    color: #637381;
    font-size: 16px;
    padding: 15px 0;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 18px;
}

.author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.author-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-info h3 {
    font-weight: 600;
    font-size: 14px;
    color: #111928;
}

.author-info p {
    font-size: 12px;
    color: #8899a8;
}

footer .footer_container{
    background-color:#3758f9;
    box-shadow: 0px 0px 10px #3758f9;
}

.footer_logo h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #fff;
}

.cards_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_container a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    transition: .4s;
}

.footer_container a:hover{
    color:#f9fafb;
}

.footer_container ul{
    list-style-type: none;
}

@media screen and (min-width:1024px){
    header{
        display: flex;
        justify-content: space-around;
        background-color: #3758f9;
        box-shadow: 0px 0px 10px #3758f9;
    }

    .navbar li{
        display: inline-block;
        margin-top: 1rem;
    }

    .navbar{
        background-color: initial;
    }

    nav{
        box-shadow: none;
    }

    .navbar li:hover{
        background-color: transparent;
        color: white;
    }

    .navbar a:hover{
        border-bottom: 1px solid white;
    }

    .header-log h1{
        color: #fff;
    }

    .flex{
        display: flex;
    }

    .box{
        background-image: url(/front-end-old/images/pexels-photo-4173251.webp);
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color:#dbdcdf;
        object-fit: cover;
    }

    .box .box_width{
        margin: initial;
        width: 75%;
        margin-bottom: 7rem;
    }

    .box h2{
        font-size: 2.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
        color: white;
    }

    .box h2 span{
        color: #3758f9;
        font-size: 2.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }

    .box i{
        color: white;
    }

    .footer_container a{
        font-size: 2rem;
    }

    .footer_logo h1{
        font-size: 3rem;
    }

    .header-log h1{
        font-size: 3rem;
    }


}



/*@media screen and (min-width:1024px){

}

